.wrapper {
    margin: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration: coral;
}

.chart-container {
    display: flex;

    padding: 20px;
    justify-content: space-evenly;
    /* Add space between the two charts */
    margin-top: 20px;
}


.pie-chart,
.bar-chart {
    width: 48%;
    /* Adjust the width based on your preference */
    margin-top: 50px;
    border: 2px solid grey;
    height: 400px;
    /* Adjust the height based on your preference */
}